*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 7vw;
}

.nav-container{
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logonav{
    width: 10vw;
    object-fit: contain;
}

.nav-menu a{
    margin-right: 20px;
    text-decoration: none;
}